div {
    width: 400px;
    height: 400px;
}
.assign-1-shape-1 {
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
.assign-1-shape-2 {
    background-image: url("img.png");
    background-repeat: repeat-y;
    background-position: 50px;
}
.assign-1-shape-3 {
    background-image: url("img.png");
    background-repeat: repeat-x;
    background-position: 0 50px;
}
.assign-1-shape-4 {
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
